* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    background: white;
}

.bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg, #8dc6ff, #FFF5D7);
    background-size: cover;
}

#canvas {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
}

